overrides/mods/mcef-cache/
overrides/mods/mcef-libraries/
overrides/crash-reports/
overrides/logs/
overrides/libraries/
overrides/versions/
overrides/saves/
overrides/fancymenu_data/
overrides/usercache.json
overrides/usernamecache.json
